@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --base-w: 400px;

  --background: #070707; /* neutral-950 */
  --foreground: #e5e5e5; /* neutral-200 */

  --red: #ff3d23; /* -000 */
  --orange: #f8822d; /* -000 */
  --yellow: #ffba24; /* -000 */
  --blue: #3eabfa; /* -000 */
  --neutral: #525252; /* neutral-600 */

  --gold: #e1ab56;
  --purple: #9810fa; /* purple-600 */
  --rose: #dd003b; /* rose-600 */
  --sky: #0084d1; /* sky-000 */
  --slate: #45556c; /* slate-600 */
  --teal: #009689; /* teal-600 */
  --violet: #7f22fe; /* violet-600 */

  --accent: #ffd6a7; /* orange-200 */
  --accent-text: #ffdeb8;
  --accent-foreground: black;
  --brand: var(--sky);

  --muted: #a1a1a1; /* neutral-400 */
  --border: #262626; /* neutral-800 */
  --input: #262626; /* neutral-800 */
  --input-border: #262626; /* neutral-800 */
  --overlay: white;

  --ring: var(--accent);

  --btn-primary-foreground: white;
  --btn-primary-background: var(--brand);
  --btn-primary-background-hover: #2992dd;
  --btn-secondary-foreground: #e5e5e5; /* neutral-200 */
  --btn-secondary-background: #262626; /* neutral-800 */
  --btn-secondary-background-hover: #2b2b2b;
  --btn-accent-foreground: black;
  --btn-accent-background: var(--accent);
  --btn-accent-background-hover: #ffc889;

  --placeholder-background: white;
  --card: #171717; /* neutral-900 */
  --popover: var(--card);
  --popover-foreground: var(--foreground);

  /* Shadcn */
  /* --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707; /* neutral-950 */
    --foreground: #e5e5e5; /* neutral-200 */

    --red: #ff3d23; /* -000 */
    --orange: #f8822d; /* -000 */
    --yellow: #ffba24; /* -000 */
    --blue: #3eabfa; /* -000 */
    --neutral: #525252; /* neutral-600 */

    --gold: #e1ab56;
    --purple: #9810fa; /* purple-600 */
    --rose: #dd003b; /* rose-600 */
    --sky: #0084d1; /* sky-000 */
    --slate: #45556c; /* slate-600 */
    --teal: #009689; /* teal-600 */
    --violet: #7f22fe; /* violet-600 */

    --accent: #ffd6a7; /* orange-200 */
    --accent-text: #ffdeb8;
    --accent-foreground: black;
    --brand: var(--sky);

    --muted: #a1a1a1; /* neutral-400 */
    --border: #262626; /* neutral-800 */
    --input: #262626; /* neutral-800 */
    --input-border: #262626; /* neutral-800 */
    --overlay: white;

    --ring: var(--accent);

    --btn-primary-foreground: white;
    --btn-primary-background: var(--brand);
    --btn-primary-background-hover: #2992dd;
    --btn-secondary-foreground: #e5e5e5; /* neutral-200 */
    --btn-secondary-background: #262626; /* neutral-800 */
    --btn-secondary-background-hover: #2b2b2b;
    --btn-accent-foreground: black;
    --btn-accent-background: var(--accent);
    --btn-accent-background-hover: #ffc889;

    --placeholder-background: white;
    --card: #171717; /* neutral-900 */
    --popover: var(--card);
    --popover-foreground: var(--foreground);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-neutral: var(--neutral);

  --color-gold: var(--gold);
  --color-purple: var(--purple);
  --color-rose: var(--rose);
  --color-sky: var(--sky);
  --color-slate: var(--slate);
  --color-teal: var(--teal);
  --color-violet: var(--violet);

  --color-brand: var(--brand);
  --color-accent: var(--accent);
  --color-accent-text: var(--accent-text);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-input-border: var(--input-border);
  --color-overlay: var(--overlay);

  --color-btn-primary-foreground: var(--btn-primary-foreground);
  --color-btn-primary-background: var(--btn-primary-background);
  --color-btn-primary-background-hover: var(--btn-primary-background-hover);
  --color-btn-secondary-foreground: var(--btn-secondary-foreground);
  --color-btn-secondary-background: var(--btn-secondary-background);
  --color-btn-secondary-background-hover: var(--btn-secondary-background-hover);
  --color-btn-accent-foreground: var(--btn-accent-foreground);
  --color-btn-accent-background: var(--btn-accent-background);
  --color-btn-accent-background-hover: var(--btn-accent-background-hover);
  --color-placeholder-background: var(--placeholder-background);
  --color-card: var(--card);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --font-sans: var(--font-inter-sans);

  /* Shadcn */
  --color-ring: var(--ring);
  /* --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */
}

/* .dark {} */

@layer base {
  * {
    @apply border-border outline-ring;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .base-w {
    width: var(--base-w);
  }

  .base-max-w {
    max-width: var(--base-w);
  }

  .no-select {
    @apply cursor-default select-none;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-visual-inner {
    animation: spin 120s linear infinite;
  }

  .animate-visual-outer {
    animation: spin 60s linear infinite reverse;
  }
}

@layer components {
  .layout {
    @apply font-sans min-w-96 min-h-dvh max-w-7xl m-auto;
  }

  .layout,
  main {
    @apply flex flex-col grow-1;
  }

  .layout.align-center {
    @apply flex-col items-center justify-center box-border;
  }

  /* .sidebar {
    width: 0;
  }

  .column-stack {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  } */

  .auth-form {
    @apply relative w-72 flex flex-col space-y-6;
  }

  .auth-form_button {
    @apply w-full;
  }

  .auth-form_link {
    @apply mt-2 text-center text-sm text-muted hover:text-foreground transition-colors;
  }

  .form-control-with-icon input {
    @apply pr-10;
  }
}
